@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron">
    <h1 class="display-4">ASP.NET Core 2 MVC Example Project</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</section>
<main>
    <h2>Newly Added Movies</h2>
</main>
